# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                   @cloudoperators/greenhouse-core @cloudoperators/greenhouse-observability

/charts/            @Developers
/playbooks/         @Developers
